/**************RESET************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*******RESET*************/




*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
p, h1, h2, h3, h4, span, div{
	word-wrap: break-word;
}
html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoMedium", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}

.logo-wrapper{
	position: relative;
	z-index: 10;
}

.logo-wrapper a{
	position: absolute;
	top: 13px;
}

.logo-wrapper a:hover, .logo-wrapper a:active, .logo-wrapper a:focus{
	outline: none;
}

.choose-language, .choose-language-mobile{
	background-color: #fff;
	font-size: 18px;
	position: relative;
	width: 55px;
	padding-top: 12px;
	text-transform: uppercase;
	padding-left: 0;
}
 .choose-language li a{
 	padding-left: 11px;
 }
.choose-language::after, .choose-language-mobile::after{
	position: absolute;
	content: '';
	border: 5px solid transparent; 
	border-top: 7px solid #f54336; 
	right: 6px;
	top: 23px;
}

.change-lang-hover{
	display: none;
	background-color: #fff;
	position: absolute;
	z-index: 1;
}

.choose-language a, .choose-language-mobile a{
	color: #000;
	transition: all .20s ease;
	display: block;
	z-index: 1;
	width: 60px;
	position: relative;
	outline: none;
}

.choose-language  a:hover, .choose-language  a:active, .choose-language a:focus, .choose-language-mobile  a:hover,
.choose-language-mobile  a:active, .choose-language-mobile  a:focus{
	text-decoration: none;
	color: #f54336;
	transition: all .20s ease;
}



.header-enter-registration-wrapper{
	padding-top: 13px;
	padding-bottom: 13px;
	position: relative;
}

.header-enter-registration-wrapper a{
	color: #000;
	font-family: "RobotoLight", sans-serif;
}

.header-enter-registration-wrapper a:hover, .header-enter-registration-wrapper a:active, .header-enter-registration-wrapper a:focus{
	text-decoration: none;
	border-bottom: 1px solid #000;
	outline: none;
}

.registration-link{
	float: right;
}

.bottom-header-row{
	background-color: #000;
}

.main-menu ul{
	text-align: center;
}

.main-menu li{
	display: inline-block;
}

.main-menu li a{
	display: block;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "RobotoLight", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	transition: all .25s ease;
	outline: none;
}

.main-menu li a:hover{
	text-decoration: none;
	color: #f54336;
	transition: all .25s ease;
}
.main-menu li a:active, .main-menu li a:focus{
	text-decoration: none;
}

/*Toggle Menu*/
.toggle-mnu {
  display: block;
  width: 36px;
  height: 30px;
  margin: auto;
  position: absolute;
  right: 15px;
  margin-top: 13px;
  outline: none;
  z-index: 100;
  top: 12px;
}
.toggle-mnu:active, .toggle-mnu:focus{
	outline: none;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.1s;
  backface-visibility: hidden;
}

.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
  transform: rotate(-45deg) translate(6px, -7px);
}

.add-funds-wrapper a {
	display: block;
	width: 267px;
	height: 48px;
	border: 3px solid #f54336;
	text-transform: uppercase;
	text-align: center;
	color: #f54336;
	padding-top: 9px;
	border-radius: 10em;
	margin-top: 10px;
	float: right;
	outline: none;
	transition: all .25s ease;
}
.add-funds-wrapper a:hover{
	background-color: #f54336;
	color: #fff;
	text-decoration: none;
	transition: all .25s ease;
}
.add-funds-wrapper a:active, .add-funds-wrapper a:focus{
	text-decoration: none;
}

.main-section{
	background-color: #00b3fe;
	padding-bottom: 140px;
}
.main-section .col-md-6{
	padding-left: 0;
}
.main-image-cathedral{
	position: relative;
}
.main-image-cathedral img{
	position: absolute;
	top: 133px;
	right: -136px;
}
.main-phone-image{
	padding-top: 131px;
}
.main-text-wrapper{
	padding-top: 153px;
	line-height: 1.3;
}
.main-text-wrapper h1{
	color: #fff;	
	font-size: 48px;
	text-transform: uppercase;
	font-family: "SF-UI-Display-Bold", sans-serif;
}
.main-text-wrapper p{
	color: #fff;
	line-height: 1.9;
	padding-top: 50px;
}
.mobile-buttons{
	margin-top: 76px;
}
.mobile-buttons a {
	margin-right: 38px;
	outline: none;
	display: block;
	display: inline-block;
	position: relative;
}
.mobile-buttons a:nth-child(1) img:nth-child(2), .mobile-buttons a:nth-child(2) img:nth-child(2){
	opacity: 0;
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .25s ease;
}
.mobile-buttons a:nth-child(1):hover img:nth-child(2), .mobile-buttons a:nth-child(2):hover img:nth-child(2){
	opacity: 1;
	display: block;
	transition: all .25s ease;
}

/*OUR ADVANTAGES*/
.title{
	text-align: center;
	color: #000;
	font-family: "SF-UI-Display-Bold", sans-serif;
	text-transform: uppercase;
	font-size: 42px;
}
.advantages{
	padding-bottom: 160px;
}
.advantages .title{
	padding-top: 140px;
}
.advantages-item{
	padding-top: 83px;
	
}
.advantages-img{
	height: 156px;
	margin-bottom: 45px;
	text-align: center;
}
.advantages-item img{
	margin: auto;
}
.advantages-text{
	padding-left: 21%;
}
.advantages-text h3{
	font-size: 18px;
	font-family: "RobotoBold", sans-serif;
	padding-bottom: 21px;
	line-height: 1.5;
}
.advantages-text p{
	font-family: "RobotoLight", sans-serif;
}
/*OUR ADVANTAGES END*/


/*RATES*/
.rates{
	background-color: #9be6fd;
	padding-bottom: 100px;
	position: relative;
}
.rates .title{
	padding-top: 88px;
}
.title p{
	font-size: 16px;
	font-family: "RobotoMedium", sans-serif;
	text-transform: none;
	padding-top: 20px;
}
.cloud-image{
  position: absolute;
  right: -172px;
  top: -109px;
}
.rates-slider{
	width: 33.33%;
	float: left;
	background-color: #fff;
	border-radius: 8px;
}
.rates-title{
	font-family: "RobotoBold", sans-serif;
	font-size: 30px;
	text-align: center;
	padding-top: 40px;
	text-transform: uppercase;
}
.rates-price{
	font-size: 31px;
	font-family: "RobotoBold", sans-serif;
	color: #f54336;
	text-align: center;
	padding-bottom: 26px;
}
.rates-slider.slick-center{
	padding-bottom: 50px;
	margin-top: 53px;
	-webkit-box-shadow: 0px 3px 26px 0px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 3px 26px 0px rgba(0,0,0,0.43);
	box-shadow: 0px 3px 26px 0px rgba(0,0,0,0.43);
	z-index: 10;
	position: relative;
}
.rates-text{
	padding-left: 40px;

	padding-right: 50px;
	padding-bottom: 31px;
}
.rates-slider.slick-center .rates-text{
	padding-bottom: 91px;
}
.buy-rate{
	width: 235px;
	display: block;
	background-color: #15c7fe;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	height: 41px;
	padding-top: 7px;
	border-radius: 7px;
	transition: all .25s ease;
}
.buy-rate:active, .buy-rate:focus{
	text-decoration: none;
	outline: none;
}
.buy-rate:hover{
	text-decoration: none;
	background-color: #5cd0f5;
	color: #fff;
	transition: all .25s ease;
}
.rates-slider{
	margin-top: 78px;
	padding-bottom: 54px;
}
.rates-slider-wrapper {
	position: relative;
	z-index: 10;
}
.rates-slider{
	outline: none;
}
.rates-slider-wrapper .slick-track{
	margin-bottom: 60px;
}
.rates-slider-wrapper .fa-angle-left, .rates-slider-wrapper .fa-angle-right{
	position: absolute;
	color: #fff;
	z-index: 2;
	font-size: 40px;
	transition: all .25s ease;
}
.rates-slider-wrapper .fa:hover{
	cursor: pointer;
	color: #f54336;
	transition: all .25s ease;
}
.rates-slider-wrapper .fa-angle-left{
	left: -63px;
	top: 45%;
}
.rates-slider-wrapper .fa-angle-right{
	right: -63px;
	top: 45%;
}
.rates-image{
	position: absolute;
	left: -1%;
	bottom: -2.5%;
}
/*RATES END*/

/*REVIEWS*/
.reviews .title{
	padding-top: 100px;
}
.reviews-slider-wrapper{
	margin-top: 78px;
}
.reviews-slider{
	border: 2px solid #eaeaea;
	overflow: hidden;
	border-radius: 30px;
	padding-bottom: 41px;
	margin-right: 20px;
	margin-left: 20px;
	outline: none;
}
.reviews-image-wrapper{
	width: 45%;
	float: left;
	text-align: center;
	font-size: 18px;
	padding-top: 53px;
}
.reviews-image-wrapper p{
	font-size: 16px;
	font-family: "RobotoLight", sans-serif;
	font-style: italic;
}
.reviews-image-wrapper img{
	margin: auto;
	border-radius: 10em;
	padding-bottom: 4px;
	width: 98px;
	height: 98px;
}
.reviews-text-wrapper{
	width: 55%;
	float: left;
	padding-top: 37px;
	padding-right: 30px;
	font-family: "RobotoLight", sans-serif;
	font-style: italic;
}
.slick-dots {
	text-align: center;
	padding-top: 72px;
	padding-bottom: 120px;
}
.slick-dots li{
	background-color: #a8a8a8;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 10em;
	margin: auto;
	margin-right: 6px;
	margin-left: 6px;
}
.slick-dots li button{
	opacity: 0;
}
.slick-dots .slick-active{
	background-color: #f54336;
}
/*REVIEWS END*/

/*CONTACTS*/
.contacts-page{
	position: relative;
	padding-bottom: 52px;
}
.contacts-bg{
	background-color: #f7f7f7;
	top: 0;
	position: absolute;
	width: 76%;
	border-radius: 41px 0 0 41px;
	height: 100%;
	right: 0;
}
.contacts-img-wrapper, .contacts-adress-wrapper, .contacts-form-wrapper, .contacts-page .title{
	position: relative;
	z-index: 1;
}
.contacts-img-wrapper{
	top: 24px;
}
.contacts-img-wrapper img{
	width: 100%;
	height: auto;
}
.contacts-page .title{
	padding-top: 88px;
	padding-bottom: 60px;
}
.contacts-adress-wrapper{
	padding-top: 22px;
}
.contacts-adress-wrapper p{
	font-size: 24px;
	color: #676767;
	padding-bottom: 40px;
}
.contacts-adress-wrapper p span{
	font-size: 16px;
	color: #000;
	padding-top: 4px;
}
.contacts-form-wrapper {
	padding-left: 70px;
	padding-right: 70px;
	background-color: #fff;
	border-radius: 8px;
	padding-top: 45px;
	padding-bottom: 55px;
	-webkit-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.39);
	box-shadow: 0px 0px 19px -1px rgba(0,0,0,0.39);
}
.contacts-form-wrapper h3{
	text-align: center;
	padding-bottom: 11px;
}
.contacts-form-wrapper input, .contacts-form-wrapper textarea{
	display: block;
	resize: none;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	height: 57px;
	margin-top: 22px;
	outline: none;
	padding-right: 10px;
	border: none;
	border-bottom: 1px solid #a4a4a4;
	width: 100%;
}
.contacts-form-wrapper input:active, .contacts-form-wrapper input:focus, .contacts-form-wrapper textarea:active, .contacts-form-wrapper textarea:focus{
	border-bottom: 1px solid #00b3fe;
}
.contacts-form-wrapper .contacts-button{
	border: 3px solid #f54336;
	color: #f54336;
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 0;
	padding-top: 0;
	text-align: center;
	height: 48px;
	background-color: transparent;
	border-radius: 10em;
	transition: all .25s ease;
	margin-top: 46px;
}
.contacts-form-wrapper .contacts-button:hover{
	background-color: #f54336;
	color: #fff;
	transition: all .25s ease;
}
.contacts-form-wrapper .contacts-button:active, .contacts-form-wrapper .contacts-button:focus{
	border-bottom: 3px solid #f54336;
}
/*CONTACTS END*/


/*FOOTER*/
.main-footer{
	background-image: url(../img/footer-bg.png);
	padding-top: 100px;
	padding-bottom: 59px;
}
.main-footer .mobile-buttons{
	margin-top: 47px;
}
.footer-links{
	text-align: center;
	padding-top: 126px;
}
.footer-links li{
	display: inline-block;
  padding-right: 17px;
  padding-left: 17px;
}
.footer-links li a{
	width: 51px;
	display: block;
	height: 51px;
	border: 1px solid #fff;
	border-radius: 10em;
	outline: none;
	font-size: 24px;
	color: #fff;
	transition: all .25s ease;
}
.footer-links li a .fa{
	padding-top: 11px;
	transition: all .25s ease;
}
.footer-links li a:hover{
	border: 1px solid #f54436;
	transition: all .25s ease;
}
.footer-links li a:hover .fa{
	color: #f54436;
	transition: all .25s ease;
}
.user-conditions{
	padding-top: 153px;
	font-family: "RobotoLight", sans-serif;
}
.user-conditions a{
	color: #fff;
	outline: none;
	font-size: 18px;
}
.copyright{
	font-family: "RobotoLight", sans-serif;
	font-size: 18px;
	color: #fff;
	padding-top: 153px;
	text-align: right;
}
/*FOOTER END*/

/*REFILL PAGE*/
.personal{
	padding-bottom: 13px;
}
.refill .title, .personal .title{
	padding-top: 65px;
	font-size: 34px;
}
.wrapper-refill{
	background-color: #9be6fd;
}
.refill-img{
	position: relative;
	top: 6px;
}
.refill-category{
	text-align: center;
	padding-top: 52px;
}
.refill-category h2{
	text-transform: uppercase;
	color: #f54336;
	padding-bottom: 21px;
	font-family: "RobotoBold", sans-serif;
	font-size: 30px;
}
.wrapper-refill{
	border-radius: 28px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.55);
}
.your-phone{
	display: block;
	width: 47%;
	float: left;
	padding-top: 67px;
}
.enter-your-phone{
	float: right;
	width: 320px;
	height: 49px;
	border: none;
	background-color: #eafaff;
	padding-left: 30px;
	-webkit-box-shadow: inset 2px 2px 4px -1px rgba(0,0,0,0.55);
	-moz-box-shadow: inset 2px 2px 4px -1px rgba(0,0,0,0.55);
	box-shadow: inset 2px 2px 4px -1px rgba(0,0,0,0.55);
	border-radius: 4px;
	margin-top: 63px;
	outline: none;
}
.refill-form{
	position: relative;
}
.refill-form::after{
	position: absolute;
	width: 100%;
	content: '';
	height: 1px;
	background-color: #fff;
	top: 171px;
	left: 0;
}
.refill-form > .row{
	margin-right: 0;
	margin-left: 0;
}
.top-up-amount{
	text-align: center;
	padding-top: 105px;
}
.top-up-amount h3{
	text-transform: uppercase;
	font-size: 18px;
}
.top-up-amount p{
	font-family: "RobotoBold", sans-serif;
	color: #f54336;
	font-size: 40px;
}
.choose-kind-checkbox-wrapper{
	overflow: hidden;
	width: 69%;
	margin: auto;
	text-align: center;
	position: relative;
	left: 59px;
}
.choose-kind-of-pay {
	position: relative;
	z-index: 1;
}
.choose-kind-of-pay::after{
  position: absolute;
  content: '';
  width: 500px;
  height: 88%;
  border: 1px solid #fff;
  left: 17.5%;
  bottom: 0;
  z-index: -1;
}
.choose-kind-of-pay h3{
	text-align: center;
}
.choose-kind-checkbox-wrapper{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 24px;
}
.choose-kind-checkbox-wrapper p{
	float: left;
	width: 50%;
	text-align: left;
  padding-top: 11px;
  padding-bottom: 11px;

}
.choose-kind-checkbox-wrapper p:nth-child(5){
	width: 100%;
}
.choose-kind-checkbox-wrapper  label{
	padding-left: 10px;
}

.choose-kind-checkbox-wrapper input[type="radio"] {
    display:none;            
}
.choose-kind-checkbox-wrapper input[type="radio"] + label {
  font: 18px bold;
  color: #444;
  cursor: pointer;
  font-family: "RobotoLight", sans-serif;
}
.choose-kind-checkbox-wrapper input[type="radio"] + label::before {
  content: "";
	display: inline-block;
	height: 18px;
	width: 20px;
	background-image: url(../img/radio.png);
	background-position: 1px -42px;
	background-repeat: no-repeat;
	border-radius: 10em;
}
.choose-kind-checkbox-wrapper input[type="radio"]:checked + label::before {
  background-position: 1px 3px;
}
.btn-refill-wrapper{
	text-align: center;
	margin-top: 56px;
	margin-bottom: 88px;
}
.btn-refill{
	width: 360px;
	height: 66px;
	border: none;
	background-color: transparent;
	border: 3px solid #f54336;
	text-transform: uppercase;
	color: #f54336;
	font-size: 24px;
	border-radius: 10em;
	transition: all .25s ease;
	margin: auto;
}
.btn-refill:hover{
	transition: all .25s ease;
	color: #fff;
	background-color: #f54336;
}
/*REFILL PAGE END*/

/*POPUP ENTER TO SHOP*/
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.9;
    background-color: #00b3fe;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
#enter-1, #enter-2, #enter-sucсess, #enter-3, #enter-4, #enter-5{
	width: 463px;
	margin: auto;
	background-color: #fff;
	overflow: hidden;
	border-radius: 10px;
}
#enter-1 h2, #enter-2 h2, #enter-3 h2, #enter-4 h2, #enter-5 h2{
	text-align: center;
	background-color: #e8e8e8;
	font-size: 20px;
	padding-top: 23px;
	padding-bottom: 18px;
}
#enter-1 .enter-text, #enter-2 .enter-text, #enter-3 .enter-text, #enter-4 .enter-text, #enter-5 .enter-text{
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 70px;
	padding-right: 70px;
}
#enter-1 .enter-text span, #enter-3 .enter-text span, #enter-4 .enter-text span, #enter-5 .enter-text span{
	font-family: "RobotoLight", sans-serif;
}
#enter-1 label, #enter-2 label, #enter-3 label, #enter-4 label, #enter-5 label{
	font-family: "RobotoLight", sans-serif;
}
#enter-1 input[type="checkbox"], #enter-3 input[type="checkbox"]{
  display:none;            
}
#enter-1 input[type="checkbox"] + label, #enter-3 input[type="checkbox"] + label{
  color: #444;
  cursor: pointer;
  font-family: "RobotoLight", sans-serif;
}
#enter-1 input[type="checkbox"] + label::before, #enter-3 input[type="checkbox"] + label::before {
  content: "";
	display: inline-block;
	height: 21px;
	width: 21px;
	background-image: url(../img/radio.png);
	background-position: 0px -83px;
	background-repeat: no-repeat;
	top: 3px;
	position: relative;
	right: 11px;
}
#enter-1 input[type="checkbox"]:checked + label::before, #enter-3 input[type="checkbox"]:checked + label::before {
  background-position: 0px -121px;
}
.enter-user-cond{
	text-align: center;
	padding-top: 23px;
}
.enter-1-btn{
	text-align: center;
}
.enter-1-btn input{
	width: 233px;	
	height: 44px;
	border: 2px solid #f54336;
	border-radius: 10em;
	background-color: transparent;
	color: #f54336;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	margin-top: 55px;
	margin-bottom: 50px;
	transition: all .25s ease;
}
.enter-1-btn input:hover{
	background-color: #f54336;
	color: #fff;
	transition: all .25s ease;
}
.enter-phone-popup{
	margin: auto;
	width: 319px;
	border: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 23px;
	font-family: "RobotoLight", sans-serif;
	padding-right: 23px;
	border-bottom: 2px solid #7c7c7c;
	display: block;
}
#enter-1 .mfp-close, #enter-2 .mfp-close, #enter-sucсess .mfp-close, #enter-3 .mfp-close{
	text-indent: 100px;
	padding-right: 13px;
	padding-top: 13px;
	width: 53px;
  height: 56px;
}
#enter-1 .mfp-close::before, #enter-2 .mfp-close::before, #enter-sucсess .mfp-close::before, #enter-3 .mfp-close::before{
	content: '';
	background-image: url(../img/radio.png);
	opacity: 1;
	width: 42px;
	height: 42px;
	display: inline-block;
	background-position: 4px -176px;
	background-repeat: no-repeat;
	position: absolute;
	right: 13px;
	top: 13px;
}
#enter-2 .enter-user-cond label{
	position: relative;
	right: 28px;
}
.grey-div{
	background-color: #e8e8e8;
	height: 70px;
	width: 100%;
}
#enter-sucсess{
	text-align: center;
}
.sucсess-img{
	margin: auto;
}
.success-text{
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 50px;
}
/*POPUP ENTER TO SHOP END*/

/*PERSONAL AREA PAGE*/
.exit a{
	font-family: "RobotoLight", sans-serif;
	float: right;
	color: #000;
	outline: none;
	margin-top: 7px;
}
.change-number a{
	font-family: "RobotoLight", sans-serif;
	float: left;
	color: #000;
	outline: none;
	margin-top: 17px;
}
.personal-information{
	width: 100%;
}
.balance-text{
	text-align: right;
	padding-left: 253px;
	font-size: 24px;
	color: #5a5a5a;
}
.balance{
	text-align: right;
	font-size: 36px;
	color: #f54336;
}
.my-number-text{
	font-size: 24px;
	color: #5a5a5a;
}
.my-number{
	font-size: 30px;
	font-family: "RobotoBold", sans-serif;
}
.personal-information{
	margin-top: 37px;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}
.personal-information td{
	padding-top: 35px;
	padding-bottom: 35px;
	vertical-align: middle;
}
.title-personal{
	font-size: 24px;
	font-family: "RobotoBold", sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 42px;
}
.journal-wrapper{
	overflow: hidden;
	background-color: #ebebeb;
	border-radius: 30px;
	padding-bottom: 54px;
	padding-right: 55px;
}
.tabs-call-btns{
	width: 20%;
	float: left;
	padding-top: 95px;
	padding-right: 15px;
}
.call-tabs{
	width: 80%;
	float: left;
}
.calls-position-green span{
	width: 50px;
	height: 50px;
	display: block;
	background-image: url(../img/radio.png);
	background-repeat: no-repeat;
	background-position: 8px -244px;
}
.number-tab span{
	display: block;
	font-family: "RobotoLight", sans-serif;
}
.call-tabs thead{
	text-transform: uppercase;
	color: #525252;
}
.call-tabs tbody{
	text-align: center;
}
.date-tab span{
	font-family: "RobotoLight", sans-serif;
}
.call-tabs td{
	vertical-align: middle;
	padding-top: 15px;
	padding-bottom: 15px;
}
.calls-position-green{
	width: 10%;
}
.number-tab, .date-tab, .duration-tab, .cost-of-tab{
	width: 22.5%;
}
.call-tabs thead th{
	padding-top: 34px;
	vertical-align: middle;
	padding-bottom: 34px;
}
.call-tabs tbody tr{
	background-color: #fff;
	border-bottom: 5px solid #ebebeb;
}
.calls-position-green span, .calls-position-red span{
	margin: auto;
}
.calls-position-red span{
	width: 50px;
	height: 50px;
	display: block;
	background-image: url(../img/radio.png);
	background-repeat: no-repeat;
	background-position: 8px -328px;
}
.tabs-call-btns a{
	color: #000;
	outline: none;
	display: block;
	width: 100%;
	height: 61px;
	border-bottom: 1px solid #c2c2c2;
	padding-top: 16px;
	padding-left: 27px;
	transition: all .25s ease;
}
.tabs-call-btns li:first-child a{
	border-top: 1px solid #c2c2c2;
}
.call-tabs tbody{
	display: none;

}
.call-tabs tbody.active-download{
	display: table-row-group;
}
.tabs-call-btns .active-download a{
	border-left: 7px solid #f54336;
	color: #f54336;
	transition: all .35s ease;
}
.tabs-call-btns .active-download a:active, .tabs-call-btns .active-download a:focus{
	text-decoration: none;
}
.tabs-call-btns a:hover{
	text-decoration: none;
	color: #f54336;
	transition: all .25s ease;
}
.journal-wrapper .col-md-12{
	padding-left: 0;
}
/*PERSONAL AREA PAGE END*/
