/*==========  Desktop First Method  ==========*/



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1495px) {
	.main-image-cathedral img{
		right: -60px;
		width: 460px;
		height: 489px;
		top: 105px;
	}
	.main-section{
		padding-bottom: 70px;
	}
	.contacts-bg{
		width: 84%;
	}

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1366px) {
	.main-footer{
		background-image: url(../img/footer-bg-2.png);
		padding-bottom: 45px;
	}
	.user-conditions, .copyright{
		padding-top: 103px;
	}
	.footer-links{
		padding-top: 76px;
	}
	.contacts-img-wrapper img{
		width: 215px;
		height: auto;
		position: relative;
		left: 37px;
	}
	.contacts-adress-wrapper p{
		font-size: 16px;
	}
	
	.contacts-form-wrapper{
		width: 80%;
		padding-left: 51px;
		padding-right: 51px;
		float: right;
	}
	.contacts-form-wrapper h3{
		font-size: 14px;
		padding-bottom: 0;
	}
	.contacts-form-wrapper input, .contacts-form-wrapper textarea{
		width: 100%;
		padding-top: 25px;
		padding-bottom: 0;
		margin-top: 0;
		font-size: 14px;
	}
	.contacts-form-wrapper .contacts-button{
		margin-top: 27px;
		height: 35px;
		font-size: 14px;
	}
}
@media only screen and (max-width : 1360px) {
	.cloud-image{
		top: 0;
		right: 0;
	}
}
@media only screen and (max-width : 1300px) {
	.rates-image{
		bottom: -6px;
	}
	.rates-image img{
		width: 400px;
		height: auto;
	}
}
@media only screen and (max-width : 1199px) {
		.main-menu{
		position: absolute;
		background: #000;
		right: 0;
		top: -68px;
		width: 365px;
		padding-bottom: 22px;
		z-index: 10;
	}
	.main-menu ul{
		text-align: left;
		padding-top: 72px;
	}
	.main-menu ul li{
		display: block;
	}
	.main-menu li a {
		padding-left: 99px;
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.choose-language-mobile li a{
		padding-left: 0;
		color: #000;
		font-family: "RobotoMedium", sans-serif;
	}
	.main-menu .choose-language-mobile{
		padding-top: 0;
	}
}
@media only screen and (max-width : 1200px) {
	.choose-language{
		float: right;
	}
	.main-menu{
		display: none;
	}
	.main-phone-image{
		padding-top: 162px;
	}
	.main-phone-image img{
		width: 100%;
		height: auto;
	}
	.mobile-buttons a {
		padding-right: 16px;
	}
	.add-funds-wrapper a{
		margin: auto;
		float: none;
		margin-top: 11px;
		margin-bottom: 10px;
	}
	.bottom-header-row > .container{
		position: relative;
	}
	.advantages-text {
    padding-left: 16%;
	}
	.contacts-form-wrapper .contacts-button{
		font-size: 16px;
	}
	.main-footer .mobile-buttons img{
		width: 200px;
	}
	.main-footer{
		padding-bottom: 26px;
	}
	.choose-kind-of-pay::after {
		left: 10.8%;
	}
	.choose-kind-checkbox-wrapper{
		left: 32px;
	}
	.tabs-call-btns a{
		padding-left: 18px;
	}
}
@media only screen and (max-width : 1024px) {
	.main-footer{
		background-image: url(../img/footer-bg-3.png);
		padding-bottom: 50px;
	}
	.user-conditions, .copyright {
    padding-top: 63px;
	}
	.footer-links {
    padding-top: 26px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.mobile-header-img {
		text-align: center;
		padding-top: 57px;
	}
	.mobile-header-img img{
		margin: auto;
	}
	.main-text-wrapper{
		padding-top: 53px;
	}
	.main-text-wrapper h1{
		font-size: 36px;
	}
	.main-text-wrapper p{
		font-size: 13px;
		line-height: 1.6;
		padding-top: 40px;
	}
	.mobile-buttons{
		text-align: center;
	}
	.mobile-buttons a{
		display: inline-block;
		margin: auto;
	}
	.main-image-cathedral, .main-phone-image{
		display: none;
	}
	.advantages-text{
		padding-left: 0;
	}
	.title{
		font-size: 32px;
	}
	.advantages .title{
		padding-top: 61px;
	}
	.rates-slider{
		margin-left: 15px;
		margin-right: 15px;
	}
	.rates{
		padding-bottom: 0;
	}
	.rates-image{
		position: relative;
		left: 0;
		bottom: -20px;
		text-align: center;
	}
	.rates-slider-wrapper .slick-track{
		margin-bottom: 0;
	}
	.rates-slider-wrapper .slick-dots{
		text-align: center;
		margin-top: 25px;
	}
	.rates-slider-wrapper .slick-dots li{
		display: inline-block;
		background-color: #fff;
		width: 15px;
		height: 15px;
		margin-left: 4px;
		margin-right: 4px;
		border-radius: 10em;
	}
	.rates-slider-wrapper .slick-dots li.slick-active{
		background-color: #f5433f;
	}
	.rates-slider-wrapper .slick-dots li button{
		opacity: 0;
	}
	.contacts-img-wrapper{
		display: none;
	}
	.contacts-bg{
		display: none;
	}
	.contacts-page{
		background-color: #f7f7f7;
	}
	.contacts-adress-wrapper{
		text-align: center;
	}
	.contacts-adress-wrapper p span{
		width: 50%;
		margin: auto;
	}
	.contacts-page{
		padding-bottom: 30px;
	}
	.main-footer{
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 0;
	}
	.main-footer .mobile-buttons img {
    width: 154px;
	}
	.user-conditions, .copyright{
		display: none;
	}
	.footer-links{
		padding-bottom: 20px;
		padding-top: 55px;
	}
	.main-footer{
		padding-top: 30px;
	}
	.refill-img{
		display: none;
	}
	.refill-category{
		padding-bottom: 36px;
	}
	.enter-your-phone{
		margin-right: 20px;
	}
	.your-phone{
		padding-left: 20px;
	}
	.choose-kind-of-pay::after {
    left: 16.8%;
	}
	.choose-kind-checkbox-wrapper {
    left: 54px;
	}
	.balance-text{
		padding-left: 0;
	}
	.personal .container{
		width: 98%;
	}
	.tabs-call-btns{
		width: 26%;
	}
	.call-tabs{
		width: 74%;
	}
	.call-tabs tbody, .call-tabs thead{
		font-size: 14px;
	}
	.call-tabs thead th{
		padding-top: 15px;
		padding-bottom: 15px;
	}
		.my-number-text, .my-number, .balance-text, .balance{
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	.personal-information .my-number-text, .personal-information .balance-text{
		padding-bottom: 0;
	}
	.balance, .my-number{
		font-size: 21px;
	}
	.personal-information .my-number-text, .personal-information .balance-text{
		font-size: 20px;
		padding-top: 15px;
	}
	.personal-information .my-number, .personal-information .balanceХ{
		padding-bottom: 15px;
	}
	.personal-information td{
		padding-top: 0;
		padding-bottom: 0;
	}
	.refill .title, .personal .title{
		font-size: 26px;
	}
	.tabs-call-btns{
		padding-top: 53px;
	}
	.contacts-form-wrapper{
		float: none;
		width: 100%;
		margin: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.choose-language, .header-enter-registration-wrapper{
		display: none;
	}
	.logo-wrapper {
		width: 51px;	
		top: 10px;
	}
	.logo-wrapper a{
		position: static;
	}
	.top-header-row{
		height: 51px;
	}
	.choose-language-mobile{
		padding-top: 0;	
		top: 21px;		
		left: 82px;
		
	}
	.choose-language-mobile a{
		padding-left: 16px;
		padding-right: 4px;
		outline: none;
	}
	.choose-language-mobile::after {
    right: 10px;
    top: 15px;
	}
	.enter-registration-mobile{
		font-size: 16px;
		padding-top: 43px;
	}
	.enter-registration-mobile a {
		display: block;
		color: #fff;
		padding-left: 99px;
		padding-bottom: 23px;
		font-family: "RobotoLight", sans-serif;
	}
	.enter-registration-mobile .registration-link{
		float: left;
	}
	.advantages-img{
		text-align: left;
	}
	.main-footer {
    background-image: url(../img/footer-bg-4.png);
    padding-bottom: 50px;
	}
	.footer-links {
    padding-bottom: 0;
    padding-top: 19px;
    position: relative;
    top: 35px;
	}
	.main-menu .change-lang-hover{
		padding-top: 0;
	}
	.choose-language-mobile li a{
		padding: 5px;
	}
	.change-lang-hover{
		width: 55px;
	}
	.choose-kind-of-pay::after {
		width: 90%;
		left: 5%;
	}
	.choose-kind-checkbox-wrapper {
    left: 13%;
    width: 100%;
	}
	.your-phone{
		width: 100%;
	}
	.wrapper-refill{
		text-align: center;
	}
	.enter-your-phone{
		width: 94%;
		float: none;
		margin: auto;
		margin-top: 15px;
	}
	.refill-form::after {
		top: 233px;
	}
	.tabs-call-btns, .call-tabs{
		float: none;
		width: 100%;
	}
	.journal-wrapper{
		padding-left: 8px;
		padding-right: 8px;
		border-radius: 0px;
	}
	.journal-wrapper .col-md-12 {
    padding-left: 15px;
	}
	.tabs-call-btns{
		text-align: center;
	}
	.tabs-call-btns li{
		float: left;
		margin: auto;
	}
	.tabs-call-btns .active-download a{
		border: none;
		transition: all .20s ease;
	}
	.tabs-call-btns{
		padding-top: 0;
	}
	.tabs-call-btns a{
		border-bottom: none;
	}
	.tabs-call-btns li:first-child, .tabs-call-btns li:last-child{
		width: 25%;
	}
	.tabs-call-btns li:nth-child(2){
		width: 50%;
	}
	.tabs-call-btns li:first-child a{
		border-top: none;
		text-align: left;
		padding-left: 0;
	}
	.tabs-call-btns li:last-child a{
		text-align: right;
	}
	.tabs-call-btns{
		padding-right: 0;
		font-size: 14px;
	}
	.tabs-call-btns a{
		padding-left: 0;
		font-family: "RobotoLight", sans-serif;
	}
	.personal-information{
		margin-top: 5px;
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 620px) {
	.mobile-header-img{
		width: 80%;
		margin: auto;
	}
	.mobile-header-img img{
		width: 100%;
		height: auto;
	}
	.call-tabs thead th{
		display: none;
	}
	.number-tab, .date-tab, .duration-tab, .cost-of-tab{
		width: inherit;
	}
	.calls-position-green span {
    width: 30px;
    height: 29px;
    display: block;
    background-image: url(../img/radio.png);
    background-repeat: no-repeat;
    background-position: 0px -256px;
	}
	.calls-position-red span{
		width: 30px;
    height: 29px;
    display: block;
    background-image: url(../img/radio.png);
    background-repeat: no-repeat;
    background-position: -2px -339px;
	}
	.date-tab span{
		display: block;
	}
	.tabs-call-btns li{
		float: none;
		display: inline-block;
		text-align: center;
	}
	.tabs-call-btns li a span{
		display: none;
	}
	.tabs-call-btns li:first-child{
		float: left;
	}
	.tabs-call-btns li:last-child{
		float: right;
	}
	.tabs-call-btns li:nth-child(2), .tabs-call-btns li:first-child, .tabs-call-btns li:last-child{
		width: initial;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 552px) {
	.choose-kind-checkbox-wrapper p{
		width: 100%;
		float: none;	
	}
	.btn-refill{
		width: 250px;
		height: 56px;
		font-size: 18px;
	}
	.choose-kind-checkbox-wrapper p:nth-child(5) {
    width: 72%;
	}
	#enter-1, #enter-2, #enter-3, #enter-4, #enter-5{
		width: 95%;
	}
	#enter-1 h2,  #enter-2 h2, #enter-1 h2, #enter-4 h2, #enter-5 h2{
		font-size: 17px;
	}
	#enter-1 .enter-text,  #enter-2 .enter-text, #enter-3 .enter-text, #enter-4 .enter-text,  #enter-5 .enter-text{
		padding-left: 15px;
		padding-right: 15px;
	}
	.enter-phone-popup{
		width: 95%;
	}
	.enter-user-cond{
		padding-left: 15px;
		padding-right: 15px;
	}
	#enter-1 .mfp-close::before, #enter-2 .mfp-close::before, #enter-3 .mfp-close::before, #enter-4 .mfp-close::before, #enter-5 .mfp-close::before{
	right: -3px;
	top: 10px;
	}
	#enter-2 .enter-user-cond label, #enter-5 .enter-user-cond label{
		right: 0;
	}
	#enter-sucсess{
		width: 100%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.add-funds-wrapper a{
		width: 161px;
		height: 36px;
		font-size: 13px;
		padding-top: 5px;
	}
	.toggle-mnu{
		top: 7px;
	}
	.logo-wrapper img{
		width: 54px;
		height: auto;
	}
	.top-header-row{
		height: 24px;
	}
	.logo-wrapper{
		top: 0;
	}
	.main-text-wrapper h1{
		font-size: 23px;
	}
	.mobile-buttons a{
		width: 152px;
	}
	.mobile-buttons a img{
		width: 100%;
		height: auto;
	}
	.title{
		font-size: 18px;
	}
	.advantages-text h3{
		font-size: 16px;
	}
	.advantages-text p{
		font-size: 14px;
	}
	.advantages .title{
		padding-top: 32px;
	}
	.advantages-item{
		padding-top: 36px;
	}
	.advantages-img{
		padding-bottom: 20px;
	}
	.rates-image img{
		width: 290px;
	}
	.reviews-text-wrapper{
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 30px;
	}
  .reviews-image-wrapper{
		float: none;
		width: 100%;
 	}
 	.contacts-adress-wrapper p span{
 		width: 100%;
 	}
 	.contacts-adress-wrapper p{
 		font-size: 18px;
 		padding-top: 0;
 		padding-bottom: 27px;
 	}
 	.contacts-adress-wrapper p span{
 		font-size: 14px;
 	}
 	.contacts-form-wrapper{
 		padding-left: 30px;
 		padding-right: 30px;
 	}
 	.contacts-page .title{
 		padding-bottom: 6px;
 	}
 	.slick-dots{
 		padding-bottom: 9px;
 	}
 	.contacts-form-wrapper input, .contacts-form-wrapper textarea{
 		height: 49px;
 	}
 	.contacts-form-wrapper .contacts-button{
 		margin-top: 38px;
 		height: 36px;
 	}
 	.contacts-form-wrapper input, .contacts-form-wrapper textarea, .contacts-form-wrapper .contacts-button, .contacts-form-wrapper h3{
 		font-size: 13px;
 	}
 	.main-footer {
    background-image: url(../img/footer-bg-5.png);
    padding-bottom: 94px;
	}
	.footer-links{
		padding-bottom: 9px;
	}
	.footer-descr{
		font-size: 14px;
	}
	.footer-links{
		top: 86px;
	}
	.personal-information .my-number-text, .personal-information .balance-text{
		font-size: 14px;
	}
	.balance, .my-number{
		font-size: 16px;
	}
	.call-tabs td{
		display: block;
		margin: auto;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.mobile-buttons a:nth-child(1) img:nth-child(2), .mobile-buttons a:nth-child(2) img:nth-child(2){
		width: 136px;
		height: auto;
	}
	.main-footer .mobile-buttons img {
    width: 154px !important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.choose-language-mobile{
		display: none !important;
	}
	.enter-registration-mobile{
		display: none !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.mobile-header-img{
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.toggle-mnu{
		display: none;
	}
	.main-menu{
		display: block !important;
	}
}


