@import url(http://fonts.googleapis.com/css?family=Play:400,700);
body{
    background:  url(../img/pattern2.jpg);
}
.container{
    width: 1340px !important;
}
.up{
    background: url('../img/up.png') no-repeat -64px -5px;
    width: 57px;
    height: 78px;
    position: fixed;
    right: 1%;
    bottom: 10%;
    display: none;
    cursor: pointer;
}
@media (max-width: 1400px) {
  .up {
    display: none !important;
  }
    .container{
        max-width: none !important; 
        width: 1340px !important;
    }
}
.container{
  background: #fff;
  box-shadow: 0px 9px 14px #000;
}
.pl{
    font-family: 'Play', sans-serif;
}
.header{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px;
}
.footer{
    padding: 20px 0 0;
    border-top: 1px solid #ccc;
}
.conetnt{
    h2{
        font-size: 18px;
        .pl;
            a{
                color: #e77263;
            }
    }
    .col-md-12{
        padding: 0;
    }
}
h3{
    color: #E77263;
    font-size: 18px;
    .pl;
    border-bottom: 1px solid #E77263;
    padding: 0 0 10px;
    font-weight: bold;
}
h1{
    .pl;
    color: #E77263;
    font-weight: bold;;
    font-size: 22px;
}
.pagingWrapper{
    clear: both;
    text-align: center;
}
.plg{
  width: 200px;
  margin: 0 auto 30px;
  display: block;
        img{
            max-width: 100%;
        }
}
.logo{
    position: relative;
    width: 100px;
    display: block;
        img{
            max-width: 100%;
        }
        span{
            font-size: 25px;
            left: 110px;
            top: 25px;
            position: absolute;
            .pl;
        }
}
.badge{
      background-color: #e77263;
}
.nav{
    margin: 0 0 105px;
}
.nav>li>a{
    .pl;
    padding-left: 15px;
    transition: padding .4s;
}
.nav>li>a:hover,
.nav>li.active>a{
    padding-left: 45px;
    background: #E87263;
    color: #fff;
    font-weight: bold;
    transition: padding .4s;
}
.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
  color: #fff;
  background-color: #E87263;
}
.pagination {
     .selected{
         a{
            background: #E87263 !important;
            color: #fff !important;
         }
     }
    a{
        &:hover{
           background: #E87263 !important;
            color: #fff !important;
        }
    }
}
.thumbnail{
    overflow: hidden;
}
.imgWrap{
    display: block;
    overflow: hidden;
    transform: scale(1);
    transition: all .4s;
        &:hover{
            transform: scale(1.1);
            transition: all .4s;
        }
}
.form-control{
    width: 160px !important;
}
.navbar-form{
    margin: 8px 0 20px 0;
    .btn{
        background: #E87263 !important;
        color: #fff !important;
        border: none;
            &:hover{
                background: #e66353 !important
            }
    }
}
.copy{
  line-height: 2.9;
  color: #33A3DD;
  font-size: 13px;
    a{
        color: #33A3DD;
    }
}
.aside_l{
    .pull-left{
        width: 100px;
            img{
                max-width: 100%;
            }
    }
    .media-heading{
        font-size: 15px;
    }
}
.content{
    p{
        font-size: 17px;
        line-height: 1.8;
    }
}
.content__relatedPost{
    overflow: hidden;
        h3{
            padding-left: 15px;
        }
}
.content__relatedPost{
        .pull-left{
        width: 130px;
        margin: 0 0 10px;
            img{
                max-width: 100%;
            }
    }
                .media-heading{
                font-size: 15px;
            }
}
.breadcrumb{
    font-size: 13px;
}
.errorPage{
    .pl;
    .col-md-12{
        padding: 20px 0;
        margin: 0 0 50px;
    }
    p{
        font-size: 40px;
    }
}
.homeLink{
        display: inline-block;
        padding: 20px 100px;
        background: #e77263;
        color: #fff;
        font-size: 20px;
        border-radius: 5px;
        margin: 40px 0 50px;
        &:hover{
            background: #e25b4a;
            text-decoration: none;
            color: #fff;
        }
}
.retingRow{
    i{
        font-size: 15px;
        margin: 0 20px 0 0;
            &:before{
                margin: 0 5px 0;
            }
    }
    .glyphicon-eye-open{
        color: #ccc;
    }
    .glyphicon-thumbs-up{
        color: #22AD52;;
    }
    .glyphicon-thumbs-down{
        color: #e77263;
    }
}

.video-box {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
border:1px solid #ccc;
}
.video-box iframe
.video-box object,
.video-box embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
.search,
.search_description{
    font-size: 31px;
    margin: 5px 0 0 0;
    text-align: center;
    .pl;
        span{
            font-weight: bold;
            color: #e77263;
        }
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    margin: 0 auto;
}
.singleShare{
display: block;
width: 217px;
margin: 0 auto 30px;
        &>span{

        }
}
.bannerSingle{
    padding: 0 0 0 40px;
}
.asideBanner{
    margin: 30px 0 0;
}
.breadcrumb>li{
    display:inline;
}
.itemGallery{
    list-style: none;
    li{
        margin: 0 0 10px;
    }
    img{
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}