.table.table-roles tr.selected td {
    background-color: #d36e6e;
}

.table.table-roles.table-hover tr:hover td {
    background-color: #d36e6e;
    cursor: pointer;
}

.sel-color-example {
    background-color: #d36e6e;
}